<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
# !pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy) (4.12.2)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
# !pip install ipython-sql
# !pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: backcall in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (3.15.1)
Requirement already satisfied: ipython in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: backcall in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
# !pip install -q pandas

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [7]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
%sql SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS 'Total Payload Mass' FROM SPACEXTBL WHERE CUSTOMER == 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS 'Averagae Payload Mass' FROM SPACEXTBL WHERE Booster_Version LIKE 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
%sql SELECT MIN(Date) AS 'First Occurences date' FROM SPACEXTBL WHERE Landing_Outcome == 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTBL WHERE Landing_Outcome == 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [23]:
%sql SELECT COUNT(Mission_Outcome) FROM SPACEXTBL WHERE Mission_Outcome LIKE '%Success%'

 * sqlite:///my_data1.db
Done.

[(100,)]

In [24]:
%sql SELECT COUNT(Mission_Outcome) FROM SPACEXTBL WHERE Mission_Outcome LIKE '%Failure%'

 * sqlite:///my_data1.db
Done.

[(1,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [25]:
%sql SELECT DISTINCT BOOSTER_VERSION AS "Booster Versions which carried the Maximum Payload Mass" FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [44]:
%sql SELECT SUBSTR(Date, 6,2) AS 'Month', Landing_Outcome, Booster_Version, Launch_Site, Date FROM SPACEXTBL WHERE SUBSTR(Date ,0,5) LIKE (SELECT SUBSTR(Date, 0,5) as 'Year' FROM SPACEXTBL WHERE Year LIKE '2015')

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', '2015-01-10'),
 ('02', 'Controlled (ocean)', 'F9 v1.1 B1013', 'CCAFS LC-40', '2015-02-11'),
 ('03', 'No attempt', 'F9 v1.1 B1014', 'CCAFS LC-40', '2015-03-02'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', '2015-04-14'),
 ('04', 'No attempt', 'F9 v1.1 B1016', 'CCAFS LC-40', '2015-04-27'),
 ('06', 'Precluded (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40', '2015-06-28'),
 ('12', 'Success (ground pad)', 'F9 FT B1019', 'CCAFS LC-40', '2015-12-22')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [43]:
%sql SELECT LANDING_OUTCOME as "Landing Outcome", COUNT(LANDING_OUTCOME) AS "Total Count", Date FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY  LANDING_OUTCOME ORDER BY COUNT(LANDING_OUTCOME) DESC

 * sqlite:///my_data1.db
Done.

[('No attempt', 10, '2012-05-22'),
 ('Success (drone ship)', 5, '2016-04-08'),
 ('Failure (drone ship)', 5, '2015-01-10'),
 ('Success (ground pad)', 3, '2015-12-22'),
 ('Controlled (ocean)', 3, '2014-04-18'),
 ('Uncontrolled (ocean)', 2, '2013-09-29'),
 ('Failure (parachute)', 2, '2010-06-04'),
 ('Precluded (drone ship)', 1, '2015-06-28')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>