<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy) (4.12.2)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: backcall in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (3.15.1)
Requirement already satisfied: ipython in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: backcall in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/python_ads_new/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
# !pip install -q pandas

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
df[df['Launch_Site'].str.startswith('CCA')].sample(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
85,2020-06-04,1:25:00,F9 B5 B1049.5,CCAFS SLC-40,"Starlink 7 v1.0, Starlink 8 v1.0",15600,LEO,"SpaceX, Planet Labs",Success,Success
59,2018-08-07,5:18:00,F9 B5 B1046.2,CCAFS SLC-40,Merah Putih,5800,GTO,Telkom Indonesia,Success,Success
21,2016-03-04,23:35:00,F9 FT B1020,CCAFS LC-40,SES-9,5271,GTO,SES,Success,Failure (drone ship)
90,2020-08-18,14:31:00,F9 B5 B1049.6,CCAFS SLC-40,"Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B",15440,LEO,"SpaceX, Planet Labs, PlanetIQ",Success,Success
18,2015-06-28,14:21:00,F9 v1.1 B1018,CCAFS LC-40,SpaceX CRS-7,1952,LEO (ISS),NASA (CRS),Failure (in flight),Precluded (drone ship)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [14]:
print(df[df['Customer']=='NASA (CRS)']['PAYLOAD_MASS__KG_'].sum(),' KG')

45596  KG

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
print(df[df['Booster_Version'].str.startswith('F9 v1.1')]['PAYLOAD_MASS__KG_'].mean(),' KG')

2534.6666666666665  KG

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [16]:
df[df['Landing_Outcome']=='Success (ground pad)']['Date'].min()

'2015-12-22'

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [17]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [18]:
df[(df['Landing_Outcome']=='Success (drone ship)') & (df['PAYLOAD_MASS__KG_']>4000) & (df['PAYLOAD_MASS__KG_']<6000)]['Booster_Version'].unique()

array(['F9 FT B1022', 'F9 FT B1026', 'F9 FT  B1021.2', 'F9 FT  B1031.2'],
      dtype=object)

### Task 7




##### List the total number of successful and failure mission outcomes

In [19]:
df['Mission_Outcome'].unique()

array(['Success', 'Failure (in flight)',
       'Success (payload status unclear)', 'Success '], dtype=object)

In [20]:
print('total successes:',df[df['Mission_Outcome'].str.startswith('Success')]['Mission_Outcome'].value_counts().sum())
print('total failures:',df[df['Mission_Outcome'].str.startswith('Failure')]['Mission_Outcome'].value_counts().sum())

total successes: 100
total failures: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [21]:
max_payload_mass = df['PAYLOAD_MASS__KG_'].max()
df[df['PAYLOAD_MASS__KG_']==max_payload_mass]['Booster_Version'].unique()

array(['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4',
       'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5',
       'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6',
       'F9 B5 B1060.3', 'F9 B5 B1049.7 '], dtype=object)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [29]:
df['Month'] = df['Date'].str[5:7].astype('int')
import calendar
df['Month'] = df['Month'].apply(lambda x: calendar.month_abbr[x])
df['Month'].head()

0    Jun
1    Dec
2    May
3    Oct
4    Mar
Name: Month, dtype: object

In [33]:
df['Year'] = df['Date'].str[0:4]
df[['Date','Month','Year']].sample(8)

          Date Month  Year
51  2018-04-02   Apr  2018
77  2020-01-07   Jan  2020
69  2019-05-04   May  2019
16  2015-04-14   Apr  2015
59  2018-08-07   Aug  2018
27  2016-08-14   Aug  2016
2   2012-05-22   May  2012
52  2018-04-18   Apr  2018

In [35]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome', 'Month', 'Year'],
      dtype='object')

In [37]:
df[(df['Year']=='2015') & (df['Landing_Outcome']=='Failure (drone ship)')][['Month','Landing_Outcome','Booster_Version','Launch_Site']]

   Month       Landing_Outcome Booster_Version  Launch_Site
13   Jan  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
16   Apr  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>